<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  <display-name>Molecule viewer</display-name>
<servlet>
    <servlet-name>MoleculeDataServlet</servlet-name>
    <servlet-class>cz.sefware.jchem.servlet.MoleculeDataServlet</servlet-class>
    <init-param>
      <param-name>baseDirectory</param-name>
      <param-value>/tmp/jchem/</param-value>
    </init-param>
</servlet>

<servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>cz.sefware.jchem.servlet.UploadServlet</servlet-class>
    <init-param>
      <param-name>baseDirectory</param-name>
      <param-value>/tmp/jchem/</param-value>
    </init-param>
</servlet>

</web-app>
